.navbar-brand {
  color: indianred !important;
}

body {
  background-color: lightgray;
}

.box {
  border-style: solid;
}

.card {
  margin: 1.5rem;
  border-style: solid;
  border-color: gray;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: whitesmoke;
}

.post-column {
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.card-header {
  color: indianred;
  /* font-size: medium; */
}

.card-text {
  color: #343a40;
}

.card-subtitle {
  font-size: smaller;
}